/* src/ContinuousScrollGallery.css */
.gallery-container {
    /* width: 100%; */
    overflow: hidden;
    position: relative;
}

.gallery {
    display: flex;
    animation: scroll 20s linear infinite;
    gap: 20px;
    width: max-content;
}

.gallery img {
    /* width: 200px; */
    height: 100px;
    margin-right: 10px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}